# البيئات الافتراضية
.venv/
venv/

# ملفات بايثون المؤقتة والمجمعة
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# ملفات الإعدادات البيئية
.env
*.env

# قواعد بيانات وملفات مؤقتة
*.sqlite3
*.db
*.log
instance/

# مكتبات مثبتة (لو قررت تجرب بدون venv)
site-packages/

# كاش البايثون
*.egg-info/
*.egg
dist/
build/

# كاش pytest والتغطية
.pytest_cache/
.coverage
htmlcov/

# تقارير أخرى
reports/
coverage.xml
junit.xml

# بيئات التطوير
.idea/
.vscode/

# أنظمة تشغيل
.DS_Store
Thumbs.db
