# البيئات الافتراضية
.venv/
venv/

# ملفات بايثون المؤقتة والمجمعة
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# ملفات الإعدادات البيئية
.env
*.env

# ملفات وقواعد بيانات مؤقتة
*.sqlite3
*.db
*.log

# ملفات تحرير بيئة التطوير
.idea/
.vscode/

# ملفات أخرى غير ضرورية (أضف المزيد حسب حاجتك)
