<!-- مودال إضافة/تعديل قطعة -->
<div class="modal fade" id="partModal" tabindex="-1">
  <div class="modal-dialog">
    <form id="partForm" class="modal-content" method="post" action="{{ url_for('service.add_part', rid=service.id) }}">
      {{ parts_form.hidden_tag() }}
      <div class="modal-header">
        <h5 class="modal-title"><i class="fa fa-cog"></i> إضافة/تعديل قطعة</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        {{ parts_form.warehouse_id(class="form-select mb-2") }}
        {{ parts_form.part_id(class="form-select mb-2") }}
        {{ parts_form.quantity(class="form-control mb-2", placeholder="الكمية") }}
        {{ parts_form.unit_price(class="form-control mb-2", placeholder="سعر الوحدة") }}
        {{ parts_form.partner_id(class="form-select mb-2") }}
        {{ parts_form.share_percentage(class="form-control mb-2", placeholder="نسبة الشريك %") }}
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">حفظ</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إلغاء</button>
      </div>
    </form>
  </div>
</div>

<!-- مودال إضافة/تعديل مهمة -->
<div class="modal fade" id="taskModal" tabindex="-1">
  <div class="modal-dialog">
    <form id="taskForm" class="modal-content" method="post" action="{{ url_for('service.add_task', rid=service.id) }}">
      {{ task_form.hidden_tag() }}
      <div class="modal-header">
        <h5 class="modal-title"><i class="fa fa-tasks"></i> إضافة/تعديل مهمة</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        {{ task_form.description(class="form-control mb-2", placeholder="الوصف") }}
        {{ task_form.note(class="form-control mb-2", placeholder="ملاحظات") }}
        {{ task_form.quantity(class="form-control mb-2", placeholder="الكمية") }}
        {{ task_form.unit_price(class="form-control mb-2", placeholder="سعر الوحدة") }}
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">حفظ</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إلغاء</button>
      </div>
    </form>
  </div>
</div>
